body{
  margin: 0;
  padding: 0;
  background-image: url(bg-img.png);
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

/* End of the css reset */

.top-container{
  text-align: center;
  padding: 2%;
  background-image: url(hd-bg-img.png);
}

/* Elements Section */

.elements{
  padding: 2% 0;
  text-align: center;
  background-image: url(bg-img.png);
}

.big-text{
  font-family: 'Montserrat';
  font-size: 2rem;
  color: white;
}

.element-links{
  padding: 2% 0 0 0;
}

.e-link-item{
  display: inline-block;
  list-style: none;
  margin: 0 2%;
}

.dice-choose-text{
  padding: 1% 0;
  text-align: center;
  background-image: url(hd-bg-img.png);
}

.dice-choice{
  text-align: center;
}

.die-top{
  margin: 2% 1% 0 1%;
}

.die{
  margin: 0 1% 0 1%;
  text-align: center;
  display: inline-block;
  list-style: none;
}

.die p{
  margin-top: 1rem;
  font-family: 'Raleway';
  font-size: 1.5rem;
  color: white;
}

/* footer */

footer{
  padding: 1rem 0;
  text-align: center;
  background-image: url(ft-bg-img.png);
}
